<!DOCTYPE html>
 <html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>One Click Cache Cleaner Options</title>
        <meta name="description" content="Various options set by user to customize the cleaning operation">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body class="options-body">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-12">
                            <div class="card w-100" >
                                   <div class="row mt-3 card-body">
                                       
                                       <div class="col-2 ml-5">
                                            <img class="card-img-top"  src="../assets/icons/speedometer-256.png" alt="Card image cap">
                                       </div>
                                       <div class="col-7">
                                           <h3 class="pt-3 card-title">One Click Cache Cleaner</h3>
                                           <h6 class="card-subtitle mb-2 text-muted">
                                               Configure the options which work for you.
                                               Clear cache silenty as u wish.
                                               Set timelines since when u want to clear 
                                               Mention pages which u want to exclude
                                           </h6>
                                           <button type="button" class="btn btn-success ml-5">Clean Now</button>
                                       </div>
                                       <div class="col"></div>
                                   </div>
                                    <div class="card-body">
                                      <h5 class="card-title">Configure  </h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">Cras justo odio</li>
                                      <li class="list-group-item">Dapibus ac facilisis in</li>
                                      <li class="list-group-item">Vestibulum at eros</li>
                                    </ul>
                                    <div class="card-body">
                                      <a href="#" class="card-link">Card link</a>
                                      <a href="#" class="card-link">Another link</a>
                                    </div>
                                  </div>
                    </div>
                </div>

            </div>
        
    </body>
</html>