<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>One Click Cache Cleaner Options</title>
    <meta name="description" content="Various options set by user to customize the cleaning operation">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body class="options-body">
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <div class="card w-100">
                    <div class="row mt-3 card-body">

                        <div class="col-2 ml-5">
                            <img class="card-img-top" src="../assets/icons/speedometer-256.png" alt="Card image cap">
                        </div>
                        <div class="col-7">
                            <h3 class="pt-3 card-title">One Click Cache Cleaner</h3>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <ul class="list-group list-group-flush features">
                                    <li class="list-group-item">Configure the options which work for you.</li>
                                    <li class="list-group-item">Clear cache silenty as u wish.</li>
                                    <li class="list-group-item">Set timelines since when u want to clear.</li>
                                    <!-- <li class="list-group-item">Mention pages which u want to exclude.</li> -->
                                </ul>
                            </h6>
                            <button type="button" class="btn btn-danger ml-5">Clean Now</button>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>Options</b>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Configure below options as per your need</h6>
                    </div>
                    <!-- List group -->
                    <ul class="options list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col"> Reload Tab</div>
                                <div class="col">
                                    <div class="material-switch pull-right">
                                        <input id="reload" name="tab-reload" type="checkbox" />
                                        <label for="reload" class="label-success"></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col"> Show Notifications </div>
                                <div class="col">
                                    <div class="material-switch pull-right">
                                        <input id="notif" name="show-notification" type="checkbox" />
                                        <label for="notif" class="label-success"></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Clean Everything</div>
                                <div class="col">
                                    <div class="material-switch pull-right">
                                        <input id="cleanAll" name="tab-reload" type="checkbox" />
                                        <label for="cleanAll" class="label-success"></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">

                                <div class="col-8"></div>
                            </div>
                            <div class="row"></div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend2">Since:</span>
                                        </div>
                                        <input type="number" class="form-control" id="since" placeholder="" value="0" max="30" min="0"  aria-describedby="inputGroupPrepend2" >
                                        <span class="input-group-text" id="inputGroupPrepend2">Days</span> 
                                    </div>
                                </div>
                                <div class="col"></div>
                                <div class="col-8">
                                    <input type="range" id="range" class="custom-range-v1" min="0" step="1" value="0" max="30" id="time-range">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>