h1, .h1 {
    font-size: 2.5rem; }
  
  h2, .h2 {
    font-size: 2rem; }
  
  h3, .h3 {
    font-size: 1.75rem; }
  
  h4, .h4 {
    font-size: 1.5rem; }
  
  h5, .h5 {
    font-size: 1.15rem; }
  
  h6, .h6 {
    font-size: .7rem;
}
.alert{
  font-size: .7rem;
  
}
kbd{
  padding: 0.2rem 0.2rem ;
  background-color: #ffc107c9;
}
.btn-sm, .btn-group-sm > .btn{font-size: .7rem;}

    .input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text{
    font-size: .7rem;
}
  