.card {
    background-color: #EEEEEE !important;
}

.options.list-group {
    .list-group-item {
        background-color: #EEEEEE !important;
        border-left-width: 0px !important;
        border-right-width: 0px !important;
    }
}

.material-switch {
    > input[type="checkbox"] {
        display: none;

        &:checked {
            & + label {
                &::before {
                    background: inherit;
                    opacity: 0.5;
                }
            }
        }

        &:checked {
            & + label {
                &::after {
                    background: $red;
                    left: 30px;
                }
            }
        }
    }

    > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 50px;
        background-color: $red;

        &::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 20px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 50px;
        }

        &::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 30px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -5px;
            transition: all 0.3s ease-in-out;
            width: 30px;
        }
    }
}

// Range
//
// Style range inputs the same across browsers. Vendor-specific rules for pseudo
// elements cannot be mixed. As such, there are no shared styles for focus or
// active states on prefixed selectors.

.custom-range-v1 {
    width: 100%;
    padding-left: 0; // Firefox specific
    background-color: transparent;
    appearance: none;
    padding-top: .8rem;

    &:focus {
        outline: none;
    }

    &::-moz-focus-outer {
        border: 0;
    }

    &::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
        margin-top: -($custom-range-thumb-width * 0.3); // Webkit specific?
        @include gradient-bg($custom-range-thumb-bg);

        background-color: $white;
        border: $custom-range-thumb-border;

        @include border-radius($custom-range-thumb-border-radius);

        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

        //   @include box-shadow($custom-range-thumb-box-shadow);
        transition: all 0.4s ease-in-out;
        appearance: none;

        &:focus {
            outline: none;
            box-shadow: $custom-range-thumb-focus-box-shadow; // No mixin for focus accessibility
       
        }

        &:active {
            background: $red;
            transition: all 0.4s ease-in-out;

            // @include gradient-bg($custom-range-thumb-active-bg);
       
        }
    }

    &::-webkit-slider-runnable-track {
        width: $custom-range-track-width;
        height: 15px;
        color: transparent; // Why?
        cursor: $custom-range-track-cursor;
        background-color: $custom-range-track-bg;
        border-color: transparent;

        @include border-radius($custom-range-track-border-radius);
        @include box-shadow($custom-range-track-box-shadow);

        transition: all 0.4s ease-in-out;
    }
}

.custom-range-v2 {
    width: 100%;
    padding-left: 0; // Firefox specific
    background-color: transparent;
    appearance: none;
    padding-top: .8rem;

    &:focus {
        outline: none;
    }

    &::-moz-focus-outer {
        border: 0;
    }

    &::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
        margin-top: -($custom-range-thumb-width * 0.3); // Webkit specific?
        @include gradient-bg($custom-range-thumb-bg);

        background-color: $red;
        border: $custom-range-thumb-border;

        @include border-radius($custom-range-thumb-border-radius);

        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

        //   @include box-shadow($custom-range-thumb-box-shadow);
        appearance: none;
        transition: all 0.4s ease-in-out;

        &:focus {
            outline: none;
            box-shadow: $custom-range-thumb-focus-box-shadow; // No mixin for focus accessibility
       
        }

        &:active {
            background: $red;
            transition: all 0.4s ease-in-out;

            // @include gradient-bg($custom-range-thumb-active-bg);
       
        }
    }

    &::-webkit-slider-runnable-track {
        width: $custom-range-track-width;
        height: 15px;
        color: transparent; // Why?
        cursor: $custom-range-track-cursor;
        background-color: $white;
        border-color: $custom-range-track-bg;

        //   border-color: transparent;
        @include border-radius($custom-range-track-border-radius);
        @include box-shadow($custom-range-track-box-shadow);
    }
}
